.button {
    -fx-background-color: #ffffff;
    -fx-fill: black;
    -fx-font-family: "KenVector Future";
    -fx-font-size: 15px;
}

.button:hover {
    -fx-background-color: #cecdcd;
}

.button:focused {
    -fx-border-color: #ff0000;
}

.button:pressed {
    -fx-background-color: #929394;
}

.label {
    -fx-font-family: "KenVector Future";
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
}

.labelTitle {
    -fx-font-family: "KenVector Future";
    -fx-text-fill: #ffefba;
    -fx-font-size: 16px;
}

.button .text {
    -fx-font-size: 10px !important;
    -fx-fill: #000000;
}